doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("/assets/lib/ldcover/main/index.min.css")
    +css("/assets/lib/ldloader/main/index.min.css")
  body
    .ldcvmgr.ldcv(data-name="test"): .base: .inner.card.p-4
      h3 Hello
      p this is a sample of ldcvmgr.
      hr
      .btn.btn-outline-primary.m-2(ld="toggle",data-name="sample") Toggle Remote Modal
      .btn.btn-outline-primary.m-2(ld="toggle",data-name="notexist") Toggle Non-existed Modal
      .btn.btn-outline-primary.m-2(data-ldcv-set="") Dismiss
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/ldcover/main/index.min.js")
    +script("/assets/lib/ldloader/main/index.min.js")
    +script("/assets/lib/proxise/main/index.min.js")
    +script("/assets/lib/ldcvmgr/dev/index.min.js")
    script(type="module"): :lsc
      mgr = new ldcvmgr path: -> "/ldcv/#{it}.html"
      mgr.getdom('test')
        .then (node) -> 

          view = new ldview do
            root: node
            action: click: do
              toggle: ({node}) ->
                console.log node.getAttribute \data-name
                mgr.get node.getAttribute(\data-name)

          mgr.get('test')
